<!-- Time-stamp: <2021-11-24 16:54:19 stefan> -*-web-*- -->
<!-- huvud för tabellen med existerande kort -->

<!-- API: kolumnhuvuden som det ska gå att sortera på, ska vara markerade med sorting -->
<!-- tanken är att samma funktion ska kunna sortera olika tabeller (trots deras olika innehåll) -->
<div class="row">
    <div class="col-md-2 text-start sorting" id="sorteraefternamn">Namn</div>
    <div class="col-md-2 text-start sorting" id="sorteraefterbostadsort">Bostadsort</div>
    <div class="col-md-2 text-start">Telefon</div>
    <div class="col-md-1 text-start">Id</div>
    <div class="col-md-2">Aktioner</div>
</div>
