<!-- Time-stamp: <2021-11-28 17:40:42 stefan> -*-web-*- -->

<!-- partial för: -->
<!--   Views/PeopleAjax/aktivlistan.cshtml -->

<!-- huvud för tabellen med existerande kort -->

<!-- API: kolumnhuvuden som det ska gå att sortera på, ska vara markerade med sorting -->
<!-- tanken är att samma funktion ska kunna sortera olika tabeller (trots deras olika innehåll) -->
<div class="row">
    <div class="col-md-2 text-start sorting" id="sorteraefternamn">Namn</div>
    <div class="col-md-2 text-start sorting" id="sorteraefterbostadsort">Bostadsort</div>
    <div class="col-md-2 text-start">Telefon</div>
    <div class="col-md-1 text-start">Id</div>
    <div class="col-md-3">Aktioner</div>
</div>
