<!-- Time-stamp: <2021-11-28 17:36:21 stefan> -*-web-*- -->

<!-- partial för: -->
<!--   Views/PeopleAjax/aktivlistan.cshtml -->

<!-- partial i bruk: -->
<!--    Views/Shared/personkortvy_objektbaserad/kortvisning.cshtml -->

<!-- används för uppräkningen av personer -->
<!-- MVC Data Partial Views: -->
<!-- kodkrav: partial view som arbetar med Person-klassen ska användas, inte en vymodell ! -->
<!-- see: https://docs.microsoft.com/en-us/aspnet/core/mvc/views/tag-helpers/built-in/partial-tag-helper?view=aspnetcore-3.1 -->

@using Kartotek.Modeller.Entiteter

@model Kartotek.Modeller.Entiteter.Person

<!-- sorteras av js/sorteratabell.js function sorteraTabellStigande(sorteringsterm) { -->
<!-- därav sorteraTabell för namn och bostadsort -->
<!-- insättning av uppgifter om en viss person i uppräkningen -->

<div class="row headline" style="display: flex; flex-wrap: wrap;">
    <partial name="personkortvy_objektbaserad/kortvisning" model="@Model"/>
    <div class="col-md-3">
	<button type="button" name="kortvisning"     value="@Html.Raw(Model.Id)" class="btn btn-primary">visa</button>
	<button type="button" name="modifierakortet" value="@Html.Raw(Model.Id)" class="btn btn-primary">modifiera/radera</button>
	<button type="button" name="kortkasering"    value="@Html.Raw(Model.Id)" class="btn btn-danger">radering</button>
    </div>
</div>
