<!-- Time-stamp: <2021-11-28 17:00:03 stefan> -*-web-*- -->

<!-- partial för: -->
<!--    Views/People/Index.cshtml -->

<!-- partial i bruk: -->
<!--    Views/Shared/personkortvy_modellbaserad/filtreringstermer.cshtml -->

<!-- filtrering via People:kontrollanten -->
<!-- beroende mot och av Controllers/PeopleController.cs -->

<!-- fälten definieras i Views/Shared/personkortvy_modellbaserad/filtreringstermer.cshtml -->

<!-- termerna sänds till PeopleController som i sin tur sätter filtreringsreglerna via session  -->
<!-- PeopleAjaxController använder session-variablerna när kartoteket ska visa -->

@using Kartotek.Modeller.Vyer

@model Kartotek.Modeller.Vyer.PeopleViewModel

<div class="container">
    <h4 class="text-start">
	Sökning igenom poster
    </h4>
    <form id="filtrering" method="post" asp-controller="People">
	<fieldset class="mb-1 text-center">
	    <partial name="personkortvy_modellbaserad/filtreringstermer" for="@Model"/>
	    <button type="reset"                               class="btn btn-secondary">Töm fälten</button>
	    <button type="submit" asp-action="filtrering"      class="btn btn-success">Filtrera</button> <!-- Filtrera i PeopleController.cs -->
	    <button type="submit" asp-action="ingenfiltrering" class="btn btn-success">Återställ filtrering</button> <!-- IngenFiltrering i PeopleController.cs -->
	</fieldset>
    </form>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
    }
