<!-- Time-stamp: <2021-11-15 19:26:40 stefan> -*-web-*- -->

@using Kartotek.Modeller.Vyer
@using Kartotek.Modeller.Entiteter

@model Kartotek.Modeller.Entiteter.Person

<fieldset>
    <div class="row mb-1">
	<label class="nya_aktiva_label text-start col-sm-2 col-form-label" asp-for="Namn">Namn</label>
	<div class="col-sm-4"><input id="nyttkort_namn" class="form-control" asp-for="Namn" /></div>
    </div>
    <div class="row mb-1">
	<label class="nya_aktiva_label text-start col-sm-2 col-form-label" asp-for="Namn">Bostadsort</label>
	<div class="col-sm-3"> <input id="nyttkort_bostadsort" class="form-control" asp-for="Bostadsort" /></div>
    </div>
    <div class="row mb-1">
	<label class="nya_aktiva_label text-start col-sm-2 col-form-label">Telefonnummer</label>
	<div class="col-sm-2"><input id="nyttkort_telefonnummer" class="form-control col-sm-6" asp-for="Telefonnummer" /></div>
    </div>
    <button class="btn btn-secondary" type="reset">Bläh (ångra)</button>
    <button class="btn btn-success"   type="submit">Modifiera kortet (spara)</button>
</fieldset>
