<!-- Time-stamp: <2021-11-28 15:14:23 stefan> -*-web-*- -->
<!-- används för kontrollant- och modell-baserad inskrivning av ett nytt kort -->
<!-- beroende av Controllers/PeopleController.cs -->

<!-- inkluderas av People/Index.cshtml -->
<!-- fälten definieras i Shared/personkortvy_modellbaserad/inskrivning_av_nytt_kort.cshtml -->

<!-- partiella i bruk: -->
<!--    Views/Shared/personkortvy_modellbaserad/inskrivning_av_nytt_kort.cshtml -->

@model Kartotek.Modeller.Vyer.CreatePersonViewModel

<div class="container">
    <h4 class="text-start">
	Inrapportering av nya aktiva
    </h4>
    <!-- js/nyakort.js ska ansvara för validering -->
    <form id="nya_aktiva" method="post" asp-controller="People">
	<fieldset class="mb-1 text-center">
	    <partial name="personkortvy_modellbaserad/inskrivning_av_nytt_kort" for="@Model" />
	    <button type="reset"  class="btn btn-secondary" >Rensa fälten</button>
	    <button type="submit" class="btn btn-success" asp-action="nyttkort" >Skapa kortet</button> <!-- SkapaNyttKort (nyttkort) i PeopleController.cs -->
	</fieldset>
    </form>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
    }
