<!-- Time-stamp: <2021-11-28 18:25:30 stefan> -*-web-*- -->

<!-- partial för: -->
<!--    Views/People/Index.cshtml -->

<!-- partial i bruk - direkt: -->
<!--    inga -->

<!-- partial i bruk - indirekt via javascript: -->
<!--    Views/PeopleAjax/aktivlistan.cshtml  (action: uppdateralistan/ func: uppdateralistanurdatabasen) -->
<!--        Views/PeopleAjax/aktivlistan_tabellhuvud.cshtml-->
<!--        Views/PeopleAjax/aktivlistan_specifikt_kort.cshtml -->

<!-- https://www.educba.com/bootstrap-sort-table/
     här använder jag metod 1 för att sortera tabellen

     tabellen sorteras mha funktioner i jQuery

     bootstrap 5.1 används
-->
<!-- klistras in via partialanrop i People/Index.cshtml -->

<!-- ajax-funktionerna klistrar in följande:  -->
<!-- #kartotekvyn  -->
<!--   aktivlistan.cshtml -->
<!--       för varje kort: aktivlistan_specifikt_kort.cshtml -->
<!-- #visning_av_specifikt_kort -->
<!--   aktivlistan.cshtml -->
<!--       för det enda kortet i det här fallet: aktivlistan_specifikt_kort.cshtml -->
<!-- #modifiering_av_specifikt_kort (visas om man klickar på modifiera i uppräkningen -->
<!--  -->

@using System
@using System.Collections.Generic
@using System.Linq

@using Kartotek.Modeller.Vyer
@using Kartotek.Modeller.Entiteter

@model Kartotek.Modeller.Vyer.HopslagenmodellVymodell

<div class="container">
    <form id="specifiktKort" >  <!-- validering! -->
	<fieldset class="mb-1 text-start">
	    <button type="button" id="uppdateralistan"  form="specifiktKort" class="btn btn-primary ignore">Uppdatera listan</button>
	    <label                                                           class="filtertermer_label col-sm-1 col-form-label">ID</label>
	    <input  type="number" id="valtkortsid"                           class="col-sm" />
	    <button type="button" id="plockaframkortet" form="specifiktKort" class="btn btn-primary">Visa kort</button>
	    <button type="button" id="kaserakortet"     form="specifiktKort" class="btn btn-danger">Radera valt kort</button>
	</fieldset>
    </form>
    <!-- används som märke av de funktioner i ajaxkortfunktioner.js -->
    <!-- som ska sätta in listan av kort -->
    <div id="kartotekvyn">
    </div>
    <!-- visning av ett specifikt kort -->
    <!-- visas efter val av kort id med scroll och därefter tryck på 'visa kort'  -->
    <!-- istället för 'radera valt kort' -->
    <div id="visning_av_specifikt_kort">
    </div>
    <!-- modifiering och visning av ett specifikt kort -->
    <!-- visas efter tryck på modifiering i listan av kort -->
    <div id="modifiering_av_specifikt_kort">
    </div>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
    }
