<!-- Time-stamp: <2021-11-17 01:16:24 stefan> -*-web-*- -->
<!-- https://www.educba.com/bootstrap-sort-table/
     här använder jag metod 1 för att sortera tabellen

     tabellen sorteras mha funktioner i jQuery

     bootstrap 5.1 används
-->
<!-- klistras in via partialanrop i People/Index.cshtml -->

@using System
@using System.Collections.Generic
@using System.Linq

@using Kartotek.Modeller.Vyer
@using Kartotek.Modeller.Entiteter

@model Kartotek.Modeller.Vyer.HopslagenmodellVymodell

<div class="container">
    <form id="specifiktKort" >  <!-- validering! -->
	<fieldset class="mb-1 text-start">
	    <button id="uppdateralistan"  form="specifiktKort" class="btn btn-primary ignore">Uppdatera listan</button>
	    <label                                             class="filtertermer_label col-sm-1 col-form-label">ID</label>
	    <input  id="valtkortsid"      type="number"        class="col-sm" />
	    <button id="plockaframkortet" form="specifiktKort" class="btn btn-primary">Visa kort</button>
	    <button id="kaserakortet"     form="specifiktKort" class="btn btn-danger">Radera valt kort</button>
	</fieldset>
    </form>
    <!-- används som märke av de funktioner i ajaxkortfunktioner.js -->
    <!-- som ska sätta in listan av kort/eller modifieringsdialogen -->
    <div id="kartotekvyn">
    </div>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
    }
