<!-- Time-stamp: <2021-11-04 14:58:36 stefan> -*-web-*- -->

@using System
@using System.Collections.Generic
@using System.Linq

@using Kartotek.Modeller.Vyer
@using Kartotek.Modeller.Entiteter

@model Kartotek.Modeller.Vyer.PeopleViewModel

<!-- dataTable använder INTE något annat än table, så fixa sortering själv via jquery/javaScript är av nöd  -->
<!-- sorteras av js/sorteratabell.js function sorteraTabellStigande(sorteringsterm) { -->
<!-- därav sorteraTabell för namn och bostadsort -->
<div id="personindex_div" class="table-responsive container">
    <!-- tabell med existerande kort -->
    <div class="row">
	<div class="col-md-2 text-start sorting" id="sorteraefternamn">Namn</div>
	<div class="col-md-2 text-start sorting" id="sorteraefterbostadsort">Bostadsort</div>
	<div class="col-md-2 text-start">Telefon</div>
	<div class="col-md-1 text-start">Id</div>
	<div class="col-md-2">Aktioner</div>
    </div>
    <div id="enumreringajax">
	@foreach (Person item in Model.Utdraget)
	{
	<partial name="aktiva_div" model="item" />
	}
    </div>
</div>
