<!-- Time-stamp: <2021-10-29 14:08:14 stefan> -*-web-*- -->

@using System
@using System.Collections.Generic
@using System.Linq

@using Kartotek.Modeller.Vyer
@using Kartotek.Modeller.Entiteter

@model Kartotek.Modeller.Vyer.PeopleViewModell

<!-- dataTable använder INTE något annat än table, så fixa sortering själv via jquery/javaScript  -->
<!-- sorteras av js/sorteratabell.js function sorteraTabellStigande(sorteringsterm) { -->
<!-- därav sorteraTabell för namn och bostadsort -->
<div id="personindex_div" class="table-responsive container">
    <!-- tabell med existerande kort -->
    <div class="row">
	<div class="col-md-2 text-start" onclick="sorteraTabell(0)">Namn</div>
	<div class="col-md-2 text-start" onclick="sorteraTabell(1)">Bostadsort</div>
	<div class="col-md-1 text-start">Telefon</div>
	<div class="col-md-1 text-start">Id</div>
	<div class="col-md-2">Aktioner</div>
    </div>
    <div id="personindex_div_inner" class="container">
	@foreach (Person item in Model.Utdraget)
	{
	<partial name="aktiva_div" model="item" />
	}
    </div>
</div>
