<!-- Time-stamp: <2021-11-16 00:08:17 stefan> -*-web-*- -->
<!-- dialog för uppläggning/modfiering av ett Kort -->
<!-- skriven för att kunna användas om : -->
<!--   ett nytt kort ska skrivas ut -->
<!-- Den är vy-beroende - fungerar inte med Person -->

@using Kartotek.Modeller.Vyer
@using Kartotek.Modeller.Entiteter

@model Kartotek.Modeller.Vyer.CreatePersonViewModel

<div class="row mb-1">
    <label class="kortuppgifter_label personnamn text-start col-sm-2 col-form-label" asp-for="Namn">Namn</label>
    <div class="col-sm-4"><input id="kortuppgifter_namn" class="form-control" asp-for="Namn" /></div>
</div>
<div class="row mb-1">
    <label class="kortuppgifter_label bostadsort text-start col-sm-2 col-form-label" asp-for="Bostadsort">Bostadsort</label>
    <div class="col-sm-3"> <input id="kortuppgifter_bostadsort" class="form-control" asp-for="Bostadsort" /></div>
</div>
<div class="row mb-1">
    <label class="kortuppgifter_label telefonnummer text-start col-sm-2 col-form-label">Telefonnummer</label>
    <div class="col-sm-2"><input id="kortuppgifter_telefonnummer" class="form-control col-sm-6" asp-for="Telefonnummer" /></div>
</div>
