<!-- Time-stamp: <2021-11-16 09:42:42 stefan> -*-web-*- -->
<!-- används för modellbaserad inskrivning av ett nytt kort -->

@model Kartotek.Modeller.Vyer.CreatePersonViewModel

<div class="container">
    <h4 class="text-start">
	Inrapportering av nya aktiva
    </h4>
    <!-- js/nyakort.js ansvarar för validering -->
    <form id="nya_aktiva" method="post" asp-controller="People">
	<fieldset>
	    <div class="row mb-1">
		<label class="kortuppgifter_label personnamn text-start col-sm-2 col-form-label" asp-for="Namn">Namn</label>
		<div class="col-sm-4"><input id="kortuppgifter_namn" class="form-control" asp-for="Namn" /></div>
	    </div>
	    <div class="row mb-1">
		<label class="kortuppgifter_label bostadsort text-start col-sm-2 col-form-label" asp-for="Bostadsort">Bostadsort</label>
		<div class="col-sm-3"> <input id="kortuppgifter_bostadsort" class="form-control" asp-for="Bostadsort" /></div>
	    </div>
	    <div class="row mb-1">
		<label class="kortuppgifter_label telefonnummer text-start col-sm-2 col-form-label">Telefonnummer</label>
		<div class="col-sm-2"><input id="kortuppgifter_telefonnummer" class="form-control col-sm-6" asp-for="Telefonnummer" /></div>
	    </div>

	    <button class="btn btn-secondary" type="reset">Rensa fälten</button>
	    <button class="btn btn-success"   asp-action="nyttkort" type="submit">Skapa kortet</button>
	</fieldset>
    </form>
</div>
@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
    }
