<!-- Time-stamp: <2021-10-25 21:06:26 stefan> -*-web-*- -->
<!-- https://www.educba.com/bootstrap-sort-table/
     här använder jag metod 1 för att sortera tabellen

     tabellen sorteras via funktioner i jQuery och datatable

     bootstrap 5.1 används
-->

@using System
@using System.Collections.Generic
@using System.Linq

@using Kartotek.Modeller.Vyer
@using Kartotek.Modeller.Entiteter

@model Kartotek.Modeller.Vyer.HopslagenmodellVymodell

@{
    ViewData["Title"] = "Ett personkartotek";
}

<div class="text-center">
    <h3 class="display-6">Ett kartotek över aktiva medlemmar</h3>
    <div>
	<partial name="filtrering.cshtml" for="Filtertermer" />
	<hr>
	<!-- funktion för inläggning av en person i taget  -->
	<partial name="nya_aktiva.cshtml" for="NyttKort"/>
	<hr>
    </div>
    <partial name="aktivlistan.cshtml" for="Personlistan"/>
</div>

@section Scripts {
    <!-- används inte för en rät-och-slät div -->
    <script type="text/javascript">
     $(document).ready(function () {
	 $('#personindex').DataTable({
	     "ordering": true, // false to disable sorting (or any other option)
	     "paging": false,
	     "columns": [{ "searchable": true },
			 { "searchable": true },
			 { "searchable": true },
			 { "searchable": false },
			 {
			     "searchable": false,
			     "orderable": false
			 }
	     ]
	 });
	 $('.dataTables_length').addClass('bs-select');
     });
    </script>
    }
