<!-- Time-stamp: <2021-10-06 16:17:00 stefan> -*-web-*- -->
<!-- https://www.educba.com/bootstrap-sort-table/
     här använder jag metod 1 för att sortera tabellen

     tabellen sorteras via funktioner i jQuery och datatable

     bootstrap 5.1 används
-->

@using System
@using System.Collections.Generic
@using System.Linq

@using Kartotek.Modeller.Vyer
@using Kartotek.Modeller.Entiteter

@model Kartotek.Modeller.Vyer.HopslagenmodellVymodell

@{
	ViewData["Title"] = "Ett personkartotek";
}

<div class="text-center">
	<h3 class="display-4">Ett kartotek över aktiva medlemmar</h3>
	<div>
		<div class="container">
			<h4 class="text-start">
				Sökning igenom poster
			</h4>
			<form id="filtrering" method="post" asp-controller="People">
				<fieldset class="mb-1 text-start">
					<label class="filtertermer_label col-sm-1 col-form-label" asp-for="Filtertermer.Namn">
						Namn
					</label>
					<input class="col-sm-3" asp-for="Filtertermer.Namn" />
					<label class="filtertermer_label col-sm-1 col-form-label" asp-for="Filtertermer.Bostadsort">
						Bostadsort
					</label>
					<input class="col-sm-2" asp-for="Filtertermer.Bostadsort" />
					<button class="btn btn-secondary" type="reset">Rensa fälten</button> <!-- rensa fälten -->
					<button class="btn btn-success" type="submit" asp-action="filtrering">Filtrera</button>
					<button class="btn btn-success" type="submit" asp-action="ingenfiltrering">Ingen filtrering</button>
				</fieldset>
			</form>
		</div>

		<hr>

		<!-- funktion för inläggning av en person i taget  -->
		<div class="container">
			<h4 class="text-start">
				Inrapportering av nya aktiva
			</h4>
			<form id="nya_aktiva" method="post" asp-controller="People" asp-action="nyttkort">
				<fieldset>
					<div class="row mb-1">
						<label class="nya_aktiva_label text-start col-sm-2 col-form-label" asp-for="NyttKort.Namn">
							Namn
						</label>
						<div class="col-sm-4">
							<input id="nyttkort_namn" data-rule-required="true" class="form-control" asp-for="NyttKort.Namn" />
						</div>
					</div>
					<div class="row mb-1">
						<label class="nya_aktiva_label text-start col-sm-2 col-form-label" asp-for="NyttKort.Namn">
							Bostadsort
						</label>
						<div class="col-sm-3">
							<input id="nyttkort_bostadsort" data-rule-required="true" class="form-control" asp-for=" NyttKort.Bostadsort" />
						</div>
					</div>
					<div class="row mb-1">
						<label class="nya_aktiva_label text-start col-sm-2 col-form-label">
							Telefonnummer
						</label>
						<div class="col-sm-2">
							<input id="nyttkort_telefonnummer" class="form-control col-sm-6"
								asp-for="NyttKort.Telefonnummer" />
						</div>
					</div>
					<button class="btn btn-secondary" type="reset">Rensa fälten</button>
					<button class="btn btn-success" type="submit">Skapa kortet</button>
				</fieldset>
			</form>
		</div>

		<hr>

		<div class="container">
			<form id="specifiktKort" >
				<fieldset class="mb-1 text-start">
					<label class="filtertermer_label col-sm-1 col-form-label">
						ID
					</label>
					<input class="col-sm" type="number" min="0" id="valtkortsid"/>
					<button id="uppdateralistan"    class="btn btn-primary">Uppdatera listan</button>
					<button id="plockaFramKortet" class="btn btn-primary">Visa kort</button>
					<button id="rensaBortKortet"    class="btn btn-warning">Radera valt kort</button>
				</fieldset>
			</form>
			<div id="kortvy">
			</div>
		</div>

		<hr>

		<div id="personindex_div" class="table-responsive container">
			<!-- tabell med existerande kort -->
			<div class="row">
				<div class="col-3 text-start" onclick="sorteraTabell(0)">Namn</div>
				<div class="col-3 text-start" onclick="sorteraTabell(1)">Bostadsort</div>
				<div class="col-2 text-start">Telefonnummer</div>
				<div class="col text-start">Id</div>
				<div class="col-3">Aktioner</div>
			</div>
			<div id="personindex_div_inner" class="container">
				@foreach (Person item in Model.Personlistan.Utdraget)
				{
					<partial name="aktiva_div" model="item" />
				}
			</div>
		</div>
	</div>
</div>


@section Scripts {
<script type="text/javascript" src="/lib/jquery-validation/dist/jquery.validate.js"></script>

<script type="text/javascript">
	$(document).ready(function () {
		$('#nya_aktiva').validate( {
			debug: false,
			onkeyup: true,
			rules: {				
			}
		})
	});
</script>

<script type="text/javascript">
$(document).ready(function() {
	const url = "http://localhost:5006/PeopleAjax/uppdateralistan";

    $('#uppdateralistan').click(function( event) {        
		$('#kortvy').append( "2test");
		event.preventDefault();
		
		@* 
		req.onreadystatechange = function() {
				if (this.readyState==XMLHttpRequest.DONE && 
					this.status==200) {
					document.getElementsById('kortvy').innerHTML = "test;"
				}
			}
			req.open( "GET", url);
			req.send();
		let req = new XMLHttpRequest();
 *@
		
    });
});
</script>

<script type="text/javascript">
	$(document).ready(function () {
		$('#specifiktKort').validate( {
			debug: false,
			onkeyup: true,
			rules: {
			}
		});
	});
</script>

<script type="text/javascript">
	$(document).ready(function () {
		$('#personindex').DataTable({
			"ordering": true, // false to disable sorting (or any other option)
			"paging": false,
			"columns": [{ "searchable": true },
			{ "searchable": true },
			{ "searchable": true },
			{ "searchable": false },
			{
				"searchable": false,
				"orderable": false
			}
			]
		});
		$('.dataTables_length').addClass('bs-select');
	});
</script>
}
