<!-- Time-stamp: <2021-11-05 12:37:08 stefan> -*-web-*- -->
<!-- https://www.educba.com/bootstrap-sort-table/
     här använder jag metod 1 för att sortera tabellen

     tabellen sorteras mha funktioner i jQuery

     bootstrap 5.1 används
-->

@using System
@using System.Collections.Generic
@using System.Linq

@using Kartotek.Modeller.Vyer
@using Kartotek.Modeller.Entiteter

@model Kartotek.Modeller.Vyer.HopslagenmodellVymodell

@{
    ViewData["Title"] = "Ett personkartotek";
}

<div class="text-center">
    <h3 class="display-4">Ett kartotek över aktiva medlemmar</h3>
    <div>
	<partial name="filtrering" for="Filtertermer" />
	<hr>
	<!-- funktion för inläggning av en person i taget  -->
	<partial name="nya_aktiva" for="NyttKort"/>
	<hr>
	<!-- via ajax se och förändra en databas  -->
	<partial name="ajaxbaserad_kortselektor"/>
	<!-- <hr> -->
	<!-- <partial name="aktivlistan" for="Personlistan"/>  -->
    </div>
</div>


@section Scripts {
    <!-- https://stackoverflow.com/questions/7556400/injecting-content-into-specific-sections-from-a-partial-view-asp-net-mvc-3-with -->
    <!-- varför kan man inte inkludera script via script:sektionen direkt inuti en partial view. -->
    <!-- Därför att asp.net (mer specifikt Razor) fungerar så. -->

    <script type="text/javascript" src="~/js/site.js"></script>
    <script type="text/javascript" src="~/js/sorteratabell.js"></script>
    <script type="text/javascript" src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script type="text/javascript" src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    <!-- validering för partial view Shared/nya_aktiva.cshtml -->
    <script type="text/javascript" src="~/js/ validering_nya_aktiva.js"></script>

    <!-- validering för dialog i partial view Shared/ajaxbaserad_kortselektor.cshtml -->
    <script type="text/javascript" src="~/js/validering_ajaxbaserad_kortselektor.js"></script>

    <!-- aktörer efter förändringar i vad som ska hämtas mha AJAX och visas -->
    <!-- PeopleAjax ska vara rent webAPI -->
    <!-- funktion i paket hanterar validering av input -->
    <script type="text/javascript" src="~/js/ajaxkortfunktioner.js"></script>
    }
