<!-- Time-stamp: <2021-11-24 16:05:27 stefan> -*-web-*- -->
<!-- https://www.educba.com/bootstrap-sort-table/
     här använder jag metod 1 för att sortera tabellen

     tabellen sorteras mha funktioner i jQuery

     bootstrap 5.1 används

     sidan inkluderas av Shared/Mallen.cshtml som RenderBody()
-->

@using System
@using System.Collections.Generic
@using System.Linq

@using Kartotek.Modeller.Vyer
@using Kartotek.Modeller.Entiteter

@model Kartotek.Modeller.Vyer.HopslagenmodellVymodell

@{
    ViewData["Title"] = "Ett personkartotek";
}

<!-- innehåll uppifrån och nedåt: -->
<!--   1: funktion för filtrering (filtrering/dialog.cshtml) -->
<!--   2: inskrivning av nytt kort (inskrivning_av_nytt_kort/dialog.cshtml) -->
<!--      använder en vy som är specialiserad på att hantera uppgifter från ett kort förutom kortets ID, vilket är fast (kortuppgifter) -->
<!--      två knappar för att förkasta fälten eller acceptera dvs spara kortet -->
<!--   3 den ajaxbaserade (Shared/ajaxbaserad_kortselektor.cshtml), som kan visa antingen : -->
<!--      funktion för uppräkning av alla korten eller visning av ett visst kort (en scroll) och knappar för just det valet -->
<!--      eller om just det kortet ska raderas -->
<!--        om användaren inte har begärt att titta på ett visst kort -->
<!--           en tabell för uppräkning av (alla ?/några ?/ett specifikt) korten  -->
<!--             listan av kort - antingen ett eller flera, i listan kan man välja att modifiera ett kort -->
<!--      eller -->
<!--        dialog för modifiering av ett visst kort -->
<!--        som återanvänder kortuppgifter och förutom den har två knappar "bläh" dvs kasta ändringar eller "OK" dvs spara  -->

<!-- partiella i bruk: -->
<!--    People/filtrering/dialog.cshtml -->
<!--       Shared/filtrering/termer.cshtml (fält för de uppgifter i korten som kan användas för filtrering) -->
<!--    People/inskrivning_av_nytt_kort/dialog.cshtml -->
<!--    Shared/ajaxbaserad_kortselektor.cshtml  -->
<!--       #kartotekvyn (i ajaxbaserad_kartotekvy.cshtml) -->
<!--         Shared/aktivlistan.cshtml  -->
<!--             Shared/aktivlistan_specifikt_kort.cshtml (för varje kort i uppräkningen)  -->
<!--       #visning_av_specifikt_kort  (i ajaxbaserad_kartotekvy.cshtml) -->
<!--          Shared/aktivlistan.cshtml  -->
<!--             Shared/aktivlistan_specifikt_kort.cshtml (i det här fallet endast ett)  -->
<!--       #modifiering_av_specifikt_kort (i ajaxbaserad_kartotekvy.cshtml) -->
<!--          -->
<!--      _ValidationScriptsPartial -->

<div class="text-center">
    <h3 class="display-4">Ett kartotek över aktiva medlemmar</h3>
    <div>
	<!-- filtrering av uppräkningen av kort - hanteras av kontrollanten (People) -->
	<partial name="filtrering/dialog" for="Filtertermer" />
	<hr>
	<!-- funktion för inläggning av en person i taget - hanteras av kontrollanten (People) -->
	<partial name="inskrivning_av_nytt_kort/dialog" for="InskrivningNyttKort" />
	<hr>
	<!-- uppräkning av kort - hanteras via ajaxkortfunktioner.js -->
	<!-- js/ajaxkortfunktioner.js klistrar in sitt material efter document.load -->
	<partial name="ajaxbaserad_kartotekvy" />
    </div>
</div>

@section Scripts {
    <!-- https://stackoverflow.com/questions/7556400/injecting-content-into-specific-sections-from-a-partial-view-asp-net-mvc-3-with -->
    <!-- varför kan man inte inkludera script via script:sektionen direkt inuti en partial view. -->
    <!-- Därför att asp.net (mer specifikt Razor) fungerar så. -->

    <script type="text/javascript" src="~/js/site.js"></script>
    <script type="text/javascript" src="~/js/sorteratabell.js"></script>
    <script type="text/javascript" src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script type="text/javascript" src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    <!-- validering för partial view Shared/nya_aktiva.cshtml -->
    <!--  <script type="text/javascript" src="~/js/validering_nya_aktiva.js"></script> -->

    <!-- validering för dialog i partial view Shared/ajaxbaserad_kortselektor.cshtml -->
    <!-- <script type="text/javascript" src="~/js/validering_ajaxbaserad_kortselektor.js"></script>  -->

    <!-- aktörer efter förändringar i vad som ska hämtas mha AJAX och visas -->
    <!-- PeopleAjax ska vara rent webAPI -->
    <!-- funktion i paket hanterar validering av input -->
    <script type="text/javascript" src="~/js/person/ajaxkortfunktioner.js"></script>
    }
