<!-- Time-stamp: <2021-10-29 11:55:21 stefan> -*-web-*- -->
<!-- https://www.educba.com/bootstrap-sort-table/
     här använder jag metod 1 för att sortera tabellen

     tabellen sorteras via funktioner i jQuery och datatable

     bootstrap 5.1 används
-->

@using System
@using System.Collections.Generic
@using System.Linq

@using Kartotek.Modeller.Vyer
@using Kartotek.Modeller.Entiteter

@model Kartotek.Modeller.Vyer.HopslagenmodellVymodell

@{
    ViewData["Title"] = "Ett personkartotek";
}

<div class="text-center">
    <h3 class="display-6">Ett kartotek över aktiva medlemmar</h3>
    <div>
	<partial name="filtrering" for="Filtertermer" />
	<hr>
	<!-- funktion för inläggning av en person i taget  -->
	<partial name="nya_aktiva" for="NyttKort"/>
	<hr>
    </div>
    <partial name="aktivlistan" for="Personlistan"/>
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/site.js"></script>
    <script type="text/javascript" src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script type="text/javascript" src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script type="text/javascript" src="~/js/sorteratabell.js"></script>
    }
