<!-- Time-stamp: <2021-11-24 17:43:09 stefan> -*-web-*- -->
<!-- används för uppräkningen av personer -->
<!-- personobjekt -->
<!-- MVC Data Partial Views: -->
<!-- kodkrav: partial view som arbetar med Person-klassen ska användas, inte en vymodell ! -->

@using Kartotek.Modeller.Entiteter

@model Kartotek.Modeller.Entiteter.Person

<!-- sorteras av js/sorteratabell.js function sorteraTabellStigande(sorteringsterm) { -->
<!-- därav sorteraTabell för namn och bostadsort -->
<!-- insättning av uppgifter om en viss person i uppräkningen -->

<div class="col-md-2 text-start namn">@Html.DisplayFor(model => Model.Namn)</div>
<div class="col-md-2 text-start bostadsort">@Html.DisplayFor(model => Model.Bostadsort)</div>
<div class="col-md-2 text-start telefonnummer">@Html.DisplayFor(model => Model.Telefonnummer)</div>
<div class="col-md-1 text-start id">@Html.DisplayFor(model => Model.Id)</div>
